@import '../assets/sass/_variables.sass';

body {
    background: $grad-morado-claro;
    background: linear-gradient(90deg, $grad-morado-claro 0%, $grad-rosa 35%, $grad-rojo 100%);
    padding: 3.5rem
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

