@import '../../../assets/sass/_variables'
  
.button 
  padding: 0.5rem 1rem
  border-radius: 0.5rem
  border: none
  cursor: pointer
  font-size: 0.875rem
  transition: all 0.2s

  &.primary 
    background-color: $boton-morado
    color: white
    
    &:hover 
      background-color: $boton-morado-hover


  &.secondary 
    background-color: transparent
    color: $texto-gris-claro
    
    &:hover 
      background-color: $bg-gris-claro-inact

  &.tertiary 
    background-color: $boton-rosa
    color: $texto-blanco

    &:hover
      background-color: $boton-rosa-hover
  
  &:disabled
    cursor: none
    background-color: $bg-gris-claro-inact
    color: $texto-gris-claro

  
