.cardSection
  flex-grow: 1
  
.cardContent
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))
  gap: 1rem
  padding: 1rem


.header 
  display: flex
  justify-content: space-between
  align-items: center
  padding: 1rem

  button
    display: flex
    align-items: center
    border-radius: 20px

.groupOpt 
  display: flex
  flex-direction: column
  gap: 0.5rem
  margin-bottom: 1rem
